{% extends "base.html" %}

{% block title %}
Search by organization
{% endblock %}

{% block content %}

{% load mathfilters %}

<div class="wrapper">

  <a href="{% url 'minutes_search:index' %}" class="searchLink">Back to search</a>

  <h2 class="title">Results for organization: {{ org_query }}</h2>

  {% if witness_for_list and witness_against_list %}

  <div class="summaryContainer">
    <h4 class="summaryText">
      <span class="boldSummary">{{ org_query|title }}</span> has supported
      {% if total_bills_for == 1 %}
      <span class="boldSummary">{{ total_bills_for }}</span> bill since 2013.
      {% else %}
      <span class="boldSummary">{{ total_bills_for }}</span> bills since 2013.
      {% endif %}
      {% if bills_passed_for == 1 %}
      <span class="boldSummary">{{ bills_passed_for }}</span> bill has become law and <span class="boldSummary">{{ total_bills_for|sub:bills_passed_for }}</span> have failed.
      {% else %}
      <span class="boldSummary">{{ bills_passed_for }}</span> of the bills have become law and <span class="boldSummary"></span>{{ total_bills_for|sub:bills_passed_for }} have failed.
      {% endif %}
      {% if org_against_bills_list|length == 1 %}
      It has also testified against <span class="boldSummary">{{ total_bills_against }}</span> bill since 2013. Of those bills, <span class="boldSummary">{{ bills_passed_against }}</span> has become law and <span class="boldSummary">{{ total_bills_against|sub:bills_passed_against }}</span> have failed.
      {% else %}
      It has also testified against <span class="boldSummary">{{ total_bills_against }}</span> bills since 2013. Of those bills, <span class="boldSummary">{{ bills_passed_against }}</span> have become law and <span class="boldSummary">{{ total_bills_against|sub:bills_passed_against }}</span> have failed.
      {% endif %}
    </h4>
  </div>

  <h3 class="subheadTable">Bills supported</h3>

  <table class="responsive-table table">
    <thead>
      <tr>
        <th>Year</th>
        <th>Bill Number</th>
        <th>Bill Sponsor</th>
        <th>Party</th>
        <th>Witness</th>
        <th>Witness Organization</th>
        <th>Passed?</th>
      </tr>
    </thead>
    <tbody>
      {% for witness in witness_for_list %}
      <tr>
        <td>
          {{ witness.year }}
        </td>
        <td>
          <a href="{% url 'minutes_search:bill_detail' witness.year witness.bill_no %}" class="detail">{{ witness.bill_no }}</a>
        </td>
        <td>
          {{ witness.bill_sponsor }}
        </td>
        <td>
          {{ witness.party }}
        </td>
        <td>
          {{ witness.witness_for }}
        </td>
        <td>
          {{ witness.witness_for_org }}
        </td>
        <td>
          {{ witness.law }}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>


  <h3 class="subheadTable">Bills opposed</h3>

  <table class="responsive-table table">
    <thead>
      <tr>
        <th>Year</th>
        <th>Bill Number</th>
        <th>Bill Sponsor</th>
        <th>Party</th>
        <th>Witness</th>
        <th>Witness Organization</th>
        <th>Passed?</th>
      </tr>
    </thead>
    <tbody>
      {% for witness in witness_against_list %}
      <tr>
        <td>
          {{ witness.year }}
        </td>
        <td>
          <a href="{% url 'minutes_search:bill_detail' witness.year witness.bill_no %}" class="detail">{{ witness.bill_no }}</a>
        </td>
        <td>
          {{ witness.bill_sponsor }}
        </td>
        <td>
          {{ witness.party }}
        </td>
        <td>
          {{ witness.witness_against }}
        </td>
        <td>
          {{ witness.witness_against_org }}
        </td>
        <td>
          {{ witness.law }}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% else %}

  <p class="error">
    Organization does not exist in the database. Please re-enter your search parameters.
  </p>

  {% endif %}


</div>

{% endblock %}
